.sdlc-container-alt.position-relative
  .table-container
    %table.sdlc-table
      %tr
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.dept!="enablement"}.each do |stage|
          %td.stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %p #{stage.display_name}

      %tr.single-application-row
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.dept!="enablement"}.each do |stage|
          %td.solutions-container
            %a.gitlab-logo-container{href: "/stages-devops-lifecycle/#{stage.key}/"}
              .devops-tool-tooltip
                %p.tooltip-text
                  GitLab
                .tooltip-carat
              %img.gitlab-logo{ src: "/images/devops-tools/gitlab-logo.svg" }

      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.dept!="enablement"}.each do |stage|
          %td.devops-tools-container{ id: "#{stage.key}-devops-tools-container" }
            - stage.devops_tools.each do |devops_tool|
              %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab.html" }
                .devops-tool-tooltip
                  %p.tooltip-text
                    = devops_tool.name
                  .tooltip-carat
                %img.devops-tool-logo{ src: "#{devops_tool.logo}", alt: "#{devops_tool.name} logo png" }

  %p.text-center.color-gray.font-small.margin-top10
    * Depending on use case. GitLab does not claim to contain all the functionality of all the tools listed
  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/devops-tools/' } See and compare all DevOps tools
